<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="at.irian.cordova.svg"
        version="0.1.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>SVG-Rasterizer</name>
    <description> SVG-Rasterizer Cordova Plugin</description>


    <js-module src="www/SVGRasterizer.js" name="SVGRasterizer">
        <clobbers target="SVGRasterizer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SVGRasterizer">
                <param name="android-package" value="at.irian.cordova.svg" />
            </feature>
        </config-file>

	    <source-file src="src/android/at/irian/cordova/svg/SVGRasterizerPlugin.java" target-dir="src/at/irian/cordova/svg" />
        <source-file src="lib/android/androidsvg-1.2.1.jar" target-dir="libs"/>
    </platform>
</plugin>